/***** Main Release ******/
body { font: normal 16px "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; }

a { text-decoration: none; }

.container { width: 1170px; margin: 0 auto; }
/*************************/

/**** Start Header *******/

.header .slider { height: 90vh; background-image: url('../images/homeDesktopheader.jpg'); background-size: cover; background-attachment: fixed; background-position: center; }

.header .slider .intro { width: 40%; padding-top: 25%; color: #fff; }

.header .slider .intro h1 { margin: 0 auto; font-size: 40px; padding-bottom: 10px;}

.header .slider .intro button {  text-transform: uppercase; background-color: #037FBB; margin-top: 40px; padding: 10px 5px; border: 3px solid #fff; border-radius: 3px; }

.header .slider .intro a { color: #fff; padding: 15px 20px; }

.header .slider .intro button:hover { background-color: #1098C8; transition: 0.7s; }

.header .nav-bar { background-color: #037FBB; color: #fff; overflow: hidden; }

.header .nav-bar h2 { float: left; }

.header .nav-bar a { color: #fff; padding: 10px; }

.header .nav-bar ul li a:hover { color: #83D6DE; transition: 0.5s; }

.header .nav-bar h2 span { font-size: 0.5em; }

.header .nav-bar ul { list-style: none; padding-left: 0; float: right; }

.header .nav-bar ul li { float: left; padding: 10px; }

.header .nav-bar ul li:not(:last-child) { border-right: 2px solid #fff; }

/****** End Header *******/


/**** Start Hero *******/

.hero { overflow: hidden; padding-top: 40px; padding-bottom: 40px; }

.hero .hello { text-align: center; color: #343434 }

.hero .hello h2 { font-size: 500%; font-weight: 100; margin: 0; }

.hero .hello h3 { font-size: 130%; font-weight: 100; }

.hero .donec { width: 40%; line-height: 2; float: left; margin-left: 5%; margin-bottom: 20px; }

.hero .donec p { color: #858585; font-size: 90%; letter-spacing: 0.1em; word-spacing: 1px; }

.clear { clear: both; }

.hero .read-more { text-transform: uppercase; text-align: center; margin: 10px; }

.hero .read-more a { color: #037FBB; padding: 10px; }

.hero .read-more a:hover { color: #343434; transition: 0.5s; }

/****** End Hero *******/


/**** Start Works *******/

.works { padding-top: 40px; padding-bottom: 40px; text-align: center; background-color: #344146; color: #fff; }

.works h2 { font-weight: 100; }

.works .our-work { overflow: hidden; }

.works .our-work > div { float: left; width: 33.333333%; margin-bottom: 10px;}

.works .our-work > div img { width: 100%; margin: 10px; }

/****** End Works *******/


/**** Start what I do *******/

.ido { overflow: hidden; margin-bottom: 40px; }

.ido .what-ido h2 { text-align: center; font-weight: 100; }

.ido .port { width: 50%; float: left; }

.ido .port image { float: left; display: inline;}

.ido .port .tit { display: inline-block; }


/****** End what I do *******/




/**** Start MY CLIENTS *******/

.clients { overflow: hidden; margin-bottom: 40px; text-align: center; }

.clients .client { width: 25%; float: left;  margin: 40px 0;}


/****** End MY CLIENTS *******/


/**** Start contact me *******/

.contact { background-color: #282830; overflow: hidden; }

.contact h1 { color: #fff; }

.contact p { color: #6a6e71; }

.contact .info, .contact .form { width: 50%; float: left; }


/****** End contact me *******/


/**** Start footer *******/

.footer { background-color: #25373D; text-align: center; padding: 20px 0;}

/****** End footer *******/

