* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}
body {
  color: #fff;
  font: normal 16px "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  background-color: #fff;
  overflow-x: hidden;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.header {
  height: 100vh;
  background-image: url('images/homeDesktopheader.jpg');
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}
.container {
  width: 80vw;
  margin-left: 10%;
  margin-right: auto;
}

.head-text {
  padding-top: 25%;
  max-width: 50%;
  font-size: 150%;
  text-align: left;
}
.head-text h1 {
  margin-bottom: 10px;
}
.head-text a {
  padding: 10px 20px 10px 20px;
  background: #17ADE2;
  color: #fff;
  font-size: 70%;
  border-radius: 5px;
  border: 1px solid #fff;
}
.head-text a:hover {
  background: #19CDE2;
  transition: 0.5s;
}
/*****************/

.nav-bar {
  height: 15vh;
  background-color: #2980b9;
}

.logo {
  max-width: 22%;
  float: left;
}
.logo h1 {
  margin-left: 15px;
  display: inline-block;
  font-size: 150%;
  margin-top: -15px;
}
.logo img {
  margin-top: 20px;
}
.logo h3 {
  float: right;
  margin-top: -7px;
  font-weight: 100;
  font-size: 12px;
}
.nav-menu {
  float: right;
  margin-top: 4.5%;
}
.nav-menu li {
  display: inline-block;
  text-align: left;
}
.nav-menu a {
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
}

.nav-menu li:not(:last-child) {
  border-right: 2px solid #fff;
}

.nav-menu a:hover {
  color: #81E2E6;
  transition: 0.5s;
}
/**************************/
.hero {
  color: rgba(52,52,52,1);
  height: 70vh;
}

.hero-text {
  margin-top: 5%;
  text-align: center;
  line-height: 50px;
}
.hero-text h1 {
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 0.2em;
}
.hero-text h3 {
  margin-top: 40px;
  font-size: 1.5em;
  font-weight: 100;
}
.hero-one , .hero-two {
  width: 40%;
  display: inline-block;
  font-weight: 100;
  color: rgba(78,78,78,1);
  padding-top: 5%;
  margin-bottom: 5%;
}
.hero-two {
  margin-left: 12%;
}

.hero a {
  text-transform: uppercase;
  text-align: center;
  color: rgba(52,52,52,1);
  margin-left: 40%;
  padding: 15px;
  background-color: ;
  border: 2px solid #81E2E6;
  border-radius: 3px;
}

.hero a:hover {
  background-color: #4387B5;
  transition: 0.5s;
}

