* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}
body {
  color: #fff;
  font: normal 16px "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  background-color: #fff;
  overflow-x: hidden;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.header {
  height: 100vh;
  background-image: url('images/homeDesktopheader.jpg');
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}
.container {
  width: 80vw;
  margin-left: 10%;
  margin-right: auto;
}

.head-text {
  padding-top: 25%;
  max-width: 50%;
  font-size: 150%;
  text-align: left;
}
.head-text h1 {
  margin-bottom: 10px;
}
.head-text a {
  padding: 10px 20px 10px 20px;
  background: #17ADE2;
  color: #fff;
  font-size: 70%;
  border-radius: 5px;
  border: 1px solid #fff;
}
.head-text a:hover {
  background: #19CDE2;
  transition: 0.5s;
}
/*****************/

.nav-bar {
  height: 20vh;
  background-color: #2980b9;
}

.logo {
  max-width: 22%;
}
.logo h1 {
  margin-left: 15px;
  display: inline-block;
  font-size: 150%;
  margin-top: -15px;
}
.logo img {
  margin-top: 20px;
}
.logo h3 {
  float: right;
  margin-top: -7px;
  font-weight: 100;
  font-size: 12px;
}
